<section class="container">
    <div class="header">
      <div class="back-arrow" (click)="goBack()">
        <img src="../../../assets/arrow.png" alt="Back">
      </div>
      <div class="header-text">
      <h2>Gestión de Sectores</h2>
      </div>
    </div>
  
    
    <div class="card-principal">
      <h3>Nuevo Sector</h3>
      <p>Completa los campos para generar un nuevo sector</p>
      <div class="form-body">
        <div class="form-group">
          <label for="sector">Nombre del Sector:</label>
          <input id="sector" class="form-control" [(ngModel)]="nuevoSector.sector">
        </div>
        <button (click)="crearSector()" class="submit-button">Generar Sector</button>
      </div>
    </div>
  
    <div class="card-principal">
      <h3>Lista de Sectores</h3>
      <div *ngFor="let sector of sectores" class="item">
        <div class="info">
          <p class="title">{{ sector.sector }}</p>
        </div>
        <span class="delete" (click)="eliminarSector(sector.id_sector!)">X</span>
      </div>
    </div>
  </section>
  
