<section class="container">
    <div class="header">
      <div class="back-arrow" (click)="goBack()">
        <img src="../../../assets/arrow.png" alt="Back">
      </div>
      <div class="header-text">
      <h2>Gestión de Pisos</h2>
      </div>
    </div>
    
    
    <div class="card-principal">
      <h3>Nuevo Piso</h3>
      <p>Completa los campos para generar un nuevo piso</p>
      <div class="form-body">
        <div class="form-group">
          <label for="piso">Nombre del Piso:</label>
          <input id="piso" class="form-control" [(ngModel)]="nuevoPiso.piso">
        </div>
        <button (click)="crearPiso()" class="submit-button">Generar Piso</button>
      </div>
    </div>
  
    <div class="card-principal">
      <h3>Lista de Pisos</h3>
      <div *ngFor="let piso of pisos" class="item">
        <div class="info">
          <p class="title">{{ piso.piso }}</p>
        </div>
        <span class="delete" (click)="eliminarPiso(piso.id_piso!)">X</span>
      </div>
    </div>
  </section>
  
